<form class="grid" [formGroup]="form" (submit)="guardar()">
    <section class="col-12">
        <p-breadcrumb [model]="bItems"></p-breadcrumb>
    </section>
    <div class="col-12">
        <input formControlName="documento" type="number" class="inputfield w-full" pInputText placeholder="Nro. Documento...">
    </div>
    <div class="col-12">
        <input formControlName="nombres" type="text" class="inputfield w-full" pInputText placeholder="Nombres...">
    </div>
    <div class="col-12">
        <input formControlName="apellidos" type="text" class="inputfield w-full" pInputText placeholder="Apellidos...">
    </div>
    <div class="col-12">
        <button pButton pRipple icon="pi pi-plus" label="Guardar" type="submit" [disabled]="form.invalid" class="w-full"></button>
    </div>
</form>