<section class="grid">
    <section class="col-12">
        <section class="home_container">
            <p-card>
                <section class="home_item">
                    <p-avatar [style]="{ backgroundColor: 'var(--primary-color)' }" icon="pi pi-check" shape="circle"></p-avatar>
                    <p>Tomar asistencia</p>
                </section>
            </p-card>
            <p-card>
                <section class="home_item">
                    <p-avatar [style]="{ backgroundColor: 'var(--primary-color)' }" icon="pi pi-chart-bar" shape="circle"></p-avatar>
                    <p>Reportes</p>
                </section>
            </p-card>
        </section>
    </section>
</section>